.cevi{
   display: flex;
   justify-content: center;
   margin-top:15px;
}
.logodiv{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 75px;
    margin: 0% auto;
}

.vedi{
    background-color: white;
    width: 100%;
    border-radius: 6px;
    margin-top: 15px;
    padding-bottom: 10px;
}
.devi{
    background-color: white;
   margin-left:20px;
   margin-right: 20px;
   margin-bottom: 15px;
}
.passline{
    display: flex;
    justify-content: space-between;
}
.butlog{
    background-color:rgb(16, 98, 254);
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.cbox{
    width: 50%;
}
.hrsp{
    width: 48%;
}
.orfoot{
    display: flex;
}
.butfac{
   background-color: rgb(66, 103, 178);
   width:auto;
    display:flex;
    justify-content: center;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 3px;
}
.butface{
    display:flex;
    justify-content: center;
}
.ifac{
    color:white;
}
.fac{
    color: white;
}
.foot{
    display: flex;
    justify-content: center;
}
 .message{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    background-color: orange;
    color: white;
    width: fit-content;
    padding: 10px;
    font-size: 25px;
    border-radius:100% ;
 }